<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829981996033-njrtk1op43vunpsvan0gd45g5bo2493j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829981996033-njrtk1op43vunpsvan0gd45g5bo2493j</string>
	<key>API_KEY</key>
	<string>AIzaSyDD8dGfPtXCjQdzgvZ1dhIahrw2t6lJXGY</string>
	<key>GCM_SENDER_ID</key>
	<string>829981996033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nexis</string>
	<key>PROJECT_ID</key>
	<string>nexis-4723a</string>
	<key>STORAGE_BUCKET</key>
	<string>nexis-4723a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829981996033:ios:2b8804df0825b125897c00</string>
</dict>
</plist>